body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

header nav ul li {
    margin-right: 20px;
}

games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game {
    margin: 20px;
    width: 200px;
}

.game img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.game h2 {
    text-align: center;
}

.games-section {
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}
